{% extends "base/base.html"%}{%load static%} {%block content%}

<div class="row" id="row-footer">
    <div class="footer">
        <div class="left-footer">
            <img src="{% static 'icon_white.png' %}" class="icon" />
        </div>
        <div class="right-footer">
            <i class="fa-brands fa-facebook fa-2x" style="margin-left: 300px;"></i>
            <i class="fa-brands fa-instagram fa-2x"></i>
            <i class="fa-brands fa-twitter fa-2x" style="margin-right: 300px;"></i>
        </div>
    </div>
</div>
{%endblock%}