{% extends "base/base.html"%}{%load static%} {%block content%}
<nav class="navbar-custom">
    <a class="nav-button" href="/">
        <i class="fa-solid fa-house-chimney" style="margin-right: 5px"></i>HOME</a>
    {% if user.is_authenticated%}
    <h2 class="welcome">Welcome, {{user}}</h2>{%endif%} {% if user.is_superuser %}
    <a class="nav-button" href="{% url 'admin:index' %}" style="justify-self: flex-end;  margin-left: auto;"> <i class="fa-solid fa-screwdriver-wrench" style="margin-right: 5px"></i>TOOLS</a> {%endif%} {% if user.is_authenticated%}
    <a class="nav-button nav-log" href="{% url 'logout' %}" id="logout"> <i class="fa-solid fa-right-from-bracket" style="margin-right: 5px"></i>LOG OUT</a>

    {%else%} <a class="nav-button" href="{% url 'accounts:register' %}" style="justify-self: flex-end;  margin-left: auto;"><i class="fa-solid fa-user-plus" style="margin-right: 5px"></i>REGISTER</a>
    <a class="nav-button nav-log" href="{% url 'login' %}"><i class="fa-solid fa-right-to-bracket" style="margin-right: 5px"></i>LOG IN</a> {% endif %}
</nav>
<script>
    var Anchors = document.getElementsByTagName("a");
    if (Anchors[2].innerHTML.match("LOG OUT")) {
        Anchors[2].addEventListener("click",
            function(event) {
                event.preventDefault();
                if (confirm('Do you want to log out?')) {
                    window.location = this.href;
                }
            }, false);
    }
</script>

{%endblock%}