{% extends "base/base.html"%}{%load static%} {%block content%}
<nav class="navbar-custom">
    <a class="nav-button" href="/" id="home">
        <i class="fa-solid fa-house-chimney" style="margin-right: 5px"></i>HOME</a>
    {% if user.is_authenticated%}
    <h2 class="welcome">Welcome, {{user}}</h2>{%endif%} {% if user.is_superuser or user.is_staff %}
    <a class="nav-button nav-right-2" href="{% url 'admin:index' %}" id="tools"> <i class="fa-solid fa-screwdriver-wrench" style="margin-right: 5px"></i>TOOLS</a>
    <div id="tools-dropdown">
        <a class="nav-button nav-right-2" href="/admin/auth/user/" id="tools-users"> <i class="fa-solid fa-user" style="margin-right: 5px"></i>USERS</a>
        <a class="nav-button nav-right-2" href="/admin/blog/post/" id="tools-posts"> <i class="fa-solid fa-pen" style="margin-right: 5px"></i>POSTS</a> {%endif%} {% if user.is_authenticated%}
    </div>
    <a class="nav-button nav-right-1" href="{% url 'logout' %}?next={{request.path}}" id="logout"> <i class="fa-solid fa-right-from-bracket" style="margin-right: 5px"></i>LOG OUT</a>

    {%else%} <a class="nav-button nav-right-2" href="{% url 'accounts:register' %}?next={{request.path}}"><i class="fa-solid fa-user-plus" style="margin-right: 5px"></i>REGISTER</a>
    <a class="nav-button nav-right-1" href="{% url 'login' %}?next={{request.path}}"><i class="fa-solid fa-right-to-bracket" style="margin-right: 5px"></i>LOG IN</a> {% endif %}
</nav>
<script>
    var logout = document.getElementById("logout");
    if (logout.innerHTML.match("LOG OUT")) {
        logout.addEventListener("click",
            function(event) {
                event.preventDefault();
                if (confirm('Do you want to log out?')) {
                    window.location = this.href;
                }
            }, false);
    }
</script>

{%endblock%}