{% extends "base/base.html" %} {% block title %} {%if bookmark_page%} Đã đánh dấu {%else%} Đặc sản Thái Bình {%endif%} {% endblock %} {% load static %}{% block content %} {%include "base/nav-bar.html"%}
<div class="bgpic"><img src="{% static 'Bien-Thai-Binh.jpg' %}" /></div>

<div class="col">
    <div class="row" id="row-titlecard">
        <div class="titlecard">
            <h1 style="font-size:400%">{%if bookmark_page%} ĐÃ ĐÁNH DẤU {%else%} ĐẶC SẢN THÁI BÌNH {%endif%}</h1>
        </div>
    </div>
    <div class="row ">
        <div class="col-8">
            <div class="container">
                {%if not bookmark_page and user.is_authenticated %}
                <div style="margin-top: 10px;">
                    <a href="/mybookmarks/" class="btn btn-primary "><i class="fa-solid fa-bookmark "></i>&nbsp;My bookmarks</a>
                </div>
                {%endif%} {% include "blog/list.html" %}
            </div>
        </div>
        <div class="col-4">
            {% include "blog/searchbox.html" %}
        </div>

    </div>

    {%include "base/footer.html"%}

</div>


{% endblock %}