{% extends "base/base.html" %} {% block title %} Đặc sản Thái Bình {% endblock %} {% load static %}{% block content %} {%include "base/nav-bar.html"%}
<div class="bgpic"><img src="{% static 'Bien-Thai-Binh.jpg' %}" /></div>

<div class="col">
    <div class="row" id="row-titlecard">
        <div class="titlecard">
            <h1 style="font-size:400%">ĐẶC SẢN THÁI BÌNH</h1>
        </div>
    </div>
    <div class="row ">
        <div class="col-8">
            <div class="container">
                {% include "blog/list.html" %}
            </div>
        </div>
        <div class="col-4">
            {% include "blog/searchbox.html" %}
        </div>

    </div>

    {%include "base/footer.html"%}

</div>


{% endblock %}