{%block content%}


<div class="col pt-5">
    {% for post in list %}
    <div class="post-container row">
        <div class="col-3 post-thumbnail ">
            <img src="/{{post.image}}" />
        </div>
        <div class="col-9 post-detail">
            <div class="post-title">
                <h3>
                    <a class="text-dark" href="{{post.get_absolute_url}} ">{{post.title}}</a>
                </h3>
            </div>
            <div class="post-meta">
                <em>{{post.publish}} by {{post.author}}</em> &nbsp; <i class="fa-sharp fa-solid fa-thumbs-up" {%if user in post.likes.all %} style="color: blue;" {%endif%}></i> {{post.likes.count}}
            </div>
            <div class="post-excerpt">
                <p>{{post.excerpt}}</p>
            </div>
            <div class="post-cat">
                {% for tag in post.category.all %}
                <a class="tag-btn" href="/search/?q=&c={{tag.id}}">{{tag}}</a>{%endfor%}
            </div>
            {% if user.is_authenticated%}
            <form action=" /bookmark/{{post.slug}} " style="margin-right: 0px; " method="post " id="bookmark">
                {% csrf_token %} {%if user in post.bookmark.all %}
                <button type="submit " name="post_id " value="{{post.id}} "><i class="fa-solid fa-bookmark" style="color: blue;"></i>&nbsp; 
                        {%else%}
                    <button type="submit " name="post_id " value="{{post.id}} "><i class="fa-solid fa-bookmark " style="color: rgb(220, 217, 217);"></i>&nbsp;
                        {%endif%}
                    </button>
            </form>
            {%endif%}
        </div>
    </div>
    {% endfor %}
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination" style="text-align: center;">
        {%if list.has_previous%}
        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
        <li class="page-item">
            <a class="page-link" href="?page={{list.previous_page_number}}">
                <</a>
        </li>
        <li class="page-item"><a class="page-link" href="?page={{list.previous_page_number}}">{{list.previous_page_number}}</a></li>
        {%endif%}
        <li class="page-item active"><a class="page-link" href="?page={{list.number}}">{{list.number}}</a></li>
        {%if list.has_next%}
        <li class="page-item"><a class="page-link" href="?page={{list.next_page_number}}">{{list.next_page_number}}</a></li>
        <li class="page-item"><a class="page-link" href="?page={{list.next_page_number}}">></a></li>
        <li class="page-item"><a class="page-link" href="?page={{list.paginator.num_pages}}">Last</a></li>
        {%endif%}
    </ul>
</nav>


{%endblock%}